.experience {
    /*background-color:rgb(244, 186, 111);*/
    background-color: var(--section-color);
    border-radius: 10px;
    /*padding: 20px;*/
    padding: 20px;
}

.experience-item {
    background-color: bisque;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--subsection-color);
}
