
.horizontal {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.br-big {
    display: block; 
    margin-bottom: 150px;
}

.br-mid {
    display: block; 
    margin-bottom: 80px;
}

.br-small {
    display: block; 
    margin-bottom: 40px;
}


@media only screen and (max-width: 600px) {
    .horizontal {
        flex-direction: column;
    }
  }