:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(36, 36, 36);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: stretch;
  justify-content: center;

  --back-color : rgb(36, 36, 36);
  --section-color : rgb(67, 67, 67);
  --section-active-color : rgb(67, 67, 67);
  --subsection-color : rgb(49, 49, 49);
  --text-color : rgb(255, 255, 255);
  --text-hover-color : rgb(52, 52, 52);
  --text-active-color : rgb(117, 117, 117);
}

body {
  margin: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  max-width: 850px;
  padding-inline: 50px;
  background-color: var(--section-color);
}

@media (prefers-color-scheme: light) {
  :root {
    /*color: #213547;*/
    background-color: #ffffff;
    
    color: var(--text-color);
    --section-color : rgb(190, 190, 190);
    --subsection-color : rgb(174, 174, 174);
    --text-color : rgb(0, 0, 0);
  }
}

@media only screen and (max-width: 600px) {
  body {

    background-color: #ffffff;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-block: 10px;
}

h3 {
  margin-block: 2px;
}

p {
  margin-inline: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}